Flask==2.2.5
gitdb==4.0.7
GitPython==3.1.18
greenlet==1.1.2
gunicorn==23.0.0
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
joblib==1.1.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.7.0
jupyterlab==3.0.15
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.1
jupyterlab-widgets==1.0.0
mathparse==0.1.2
matplotlib==3.4.2
openai==1.39.0
openpyxl==3.0.9
pandas==1.2.5
python-dateutil==2.8.1
python-tsp==0.2.1
pytz==2021.1
requests==2.25.1


